*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(30, 30, 95);
    /*background-color: rgb(43, 43, 83);*/
    
}



button{
    outline: none;
    cursor: pointer;
}


#Button{
    margin-left: 2em;
    margin-top: 2em;
}

#addTodoListDiv button{
    margin-left: 0.5em;
}


#root{
    margin: 1em;
    min-width: 1200px;
}


.Fiche{
    
    border-radius: 4px;
    background: rgb(235, 235, 235);
    padding: 1em;
    margin: 1em 0 1em 1em;

    float: left;
}

.Fiche h2{
    font-size: 1em;
    margin-bottom: 0.5em;
}

#Fiche{
    margin-left: 0.5em;
}



.btn{
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;

    padding: 0.5em;
    margin-top: 0.5em;
    
}